#mega {
    position: relative;
    margin: 0 auto;
    top: 440px;
    z-index: 2;
    background-image: url('../images/megaman.gif');
    /* background-color: lightgray; */
    background-repeat: no-repeat;
    transform: scale(3,3);
}

#mega.stopRight {
    top: 440px;
    width: 32px;
    height: 50px;
    background-position: -231px -3px;
}

#mega.stopLeft {
    top: 440px;
    width: 32px;
    height: 50px;
    background-position: -231px -3px;
    transform: scale(-3,3);
}

#mega.start {
    height: 50px;
    width: 10px;
    background-position: -151px -3px;
    animation: start linear 1 750ms;
    animation-fill-mode: forwards;
}

#mega.runRight {
    top: 452px;
    width: 22px;
    height: 44px;
    background-position: -102px -109px;
    animation: run linear infinite 1000ms;
    animation-fill-mode: forwards;
}

#mega.runLeft {
    top: 452px;
    width: 22px;
    height: 44px;
    background-position: -102px -109px;
    animation: run linear infinite 1000ms;
    animation-fill-mode: forwards;
    transform: scale(-3,3);
}

#mega.jumpRight {
    top: 439px;
    width: 26px;
    height: 50px;
    background-position: -174px -59px;
    animation: jump linear 1 1000ms;
    animation-fill-mode: forwards;
}

#mega.jumpLeft {
    top: 439px;
    width: 26px;
    height: 50px;
    background-position: -174px -59px;
    animation: jump linear 1 1000ms;
    animation-fill-mode: forwards;
    transform: scale(-3,3);
}

#mega.dashRight {
    top: 452px;
    width: 30px;
    height: 44px;
    background-position: -290px -159px;
    animation: dash linear 1 500ms;
    animation-fill-mode: forwards;
}

#mega.dashLeft {
    top: 452px;
    width: 30px;
    height: 44px;
    background-position: -290px -159px;
    animation: dash linear 1 500ms;
    animation-fill-mode: forwards;
    transform: scale(-3,3);
}

@keyframes start {
    0% {
        top: 240px;
        width: 10px;
        height: 50px;
        background-position: -151px -3px;
    }
    12.5% {
        top: 340px;
        width: 10px;
        height: 50px;
        background-position: -151px -3px;
    }
    25% {
        top: 440px;
        width: 10px;
        height: 50px;
        background-position: -151px -3px;
    }
    37.49% {
        top: 440px;
        width: 10px;
        height: 50px;
        background-position: -151px -3px;
    }
    37.5% {
        top: 440px;
        width: 24px;
        height: 50px;
        background-position: -167px -3px;
    }
    49.99% {
        top: 440px;
        width: 24px;
        height: 50px;
        background-position: -167px -3px;
    }
    50% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -195px -3px;
    }
    62.49% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -195px -3px;
    }
    62.5% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -231px -3px;
    }
    74.99% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -231px -3px;
    }
    75% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -268px -3px;
    }
    87.49% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -268px -3px;
    }
    87.5% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -305px -3px;
    }
    99.99% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -305px -3px;
    }
    100% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -231px -3px;
    }
}

@keyframes run {
    0% {
        top: 452px;
        width: 22px;
        height: 44px;
        background-position: -102px -109px;
    }
    9.99% {
        top: 452px;
        width: 22px;
        height: 44px;
        background-position: -102px -109px;
    }
    10% {
        top: 452px;
        width: 25px;
        height: 44px;
        background-position: -126px -109px;
    }
    19.99% {
        top: 452px;
        width: 25px;
        height: 44px;
        background-position: -126px -109px;
    }
    20% {
        top: 452px;
        width: 34px;
        height: 44px;
        background-position: -154px -109px;
    }
    29.99% {
        top: 452px;
        width: 34px;
        height: 44px;
        background-position: -154px -109px;
    }
    30% {
        top: 452px;
        width: 36px;
        height: 44px;
        background-position: -191px -108px;
    }
    39.99% {
        top: 452px;
        width: 36px;
        height: 44px;
        background-position: -191px -108px;
    }
    40% {
        top: 452px;
        width: 28px;
        height: 44px;
        background-position: -231px -108px;
    }
    49.99% {
        top: 452px;
        width: 28px;
        height: 44px;
        background-position: -231px -108px;
    }
    50% {
        top: 452px;
        width: 24px;
        height: 44px;
        background-position: -264px -108px;
    }
    59.99% {
        top: 452px;
        width: 24px;
        height: 44px;
        background-position: -264px -108px;
    }
    60% {
        top: 454px;
        width: 27px;
        height: 43px;
        background-position: -291px -109px;
    }
    69.99% {
        top: 454px;
        width: 27px;
        height: 43px;
        background-position: -291px -109px;
    }
    70% {
        top: 452px;
        width: 32px;
        height: 44px;
        background-position: -322px -109px;
    }
    79.99% {
        top: 452px;
        width: 32px;
        height: 44px;
        background-position: -322px -109px;
    }
    80% {
        top: 452px;
        width: 36px;
        height: 44px;
        background-position: -358px -109px;
    }
    89.99% {
        top: 452px;
        width: 36px;
        height: 44px;
        background-position: -358px -109px;
    }
    90% {
        top: 452px;
        width: 31px;
        height: 44px;
        background-position: -397px -109px;
    }
    100% {
        top: 452px;
        width: 31px;
        height: 44px;
        background-position: -397px -109px;
    }
}

@keyframes jump {
    0% {
        top: 439px;
        width: 26px;
        height: 50px;
        background-position: -174px -59px;
    }
    14.99% {
        top: 439px;
        width: 26px;
        height: 50px;
        background-position: -174px -59px;
    }
    15% {
        top: 434px;
        width: 21px;
        height: 50px;
        background-position: -204px -59px;
    }
    29.99% {
        top: 434px;
        width: 21px;
        height: 50px;
        background-position: -204px -59px;
    }
    30% {
        top: 429px;
        width: 21px;
        height: 50px;
        background-position: -231px -59px;
    }
    44.99% {
        top: 429px;
        width: 21px;
        height: 50px;
        background-position: -231px -59px;
    }
    45% {
        top: 424px;
        width: 25px;
        height: 50px;
        background-position: -256px -59px;
    }
    69.99% {
        top: 424px;
        width: 25px;
        height: 50px;
        background-position: -256px -59px;
    }
    70% {
        top: 419px;
        width: 29px;
        height: 50px;
        background-position: -286px -60px;
    }
    84.99% {
        top: 419px;
        width: 29px;
        height: 50px;
        background-position: -286px -60px;
    }
    85% {
        top: 424px;
        width: 27px;
        height: 50px;
        background-position: -321px -60px;
    }
    99.99% {
        top: 424px;
        width: 27px;
        height: 50px;
        background-position: -321px -60px;
    }
    100% {
        top: 439px;
        width: 32px;
        height: 50px;
        background-position: -349px -60px;
    }
}

@keyframes dash {
    0% {
        top: 452px;
        width: 30px;
        height: 44px;
        background-position: -290px -159px;        
    }
    19.99% {
        top: 452px;
        width: 30px;
        height: 44px;
        background-position: -290px -159px;        
    }
    20% {
        top: 452px;
        width: 40px;
        height: 44px;
        background-position: -322px -159px;     
    }
    99.99% {
        top: 452px;
        width: 40px;
        height: 44px;
        background-position: -322px -159px;     
    }
    100% {
        top: 440px;
        width: 32px;
        height: 50px;
        background-position: -231px -3px;
   }
}